{
  "blockKey" : [
    {
      "value" : [255, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },

    {
      "value" : [0, 0, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true
    },

    {
      "value" : [255, 0, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },

    {
      "value" : [0, 125, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "flags" : [ "shipLockerPosition" ],
      "object" : "mossanshiplocker",
      "objectParameters" : {
        "treasurePools" : [ "mossanStarterTreasure" ],
        "level" : 0.5,
        "unbreakable" : true
      },
      "objectResidual" : true
    },
    
    {
      "value" : [25, 125, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "object" : "mossanshiplockerTier0",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [0, 75, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "object" : "mossantechstation",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },

    {
      "value" : [25, 50, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "mossanfuelhatchtier0",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [50, 50, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "mossanfuelhatchtier0silent",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [50, 75, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "mossanfuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },

    {
      "value" : [0, 0, 100, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "mossanshipdoor",
      "objectResidual" : true
    },
    
    {
      "value" : [0, 0, 125, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "mossanshipdoorBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [25, 255, 200, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "mossancaptainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [25, 150, 150, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "mossanteleporter",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [0, 150, 150, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "mossanteleporterTier0",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [5, 10, 100, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "driporbseed",
      "objectDirection" : "right",
      "objectResidual" : true
    },

    {
      "value" : [175, 75, 75, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "mossanpropulsion",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [175, 50, 50, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "mossanhalodrive",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [175, 100, 100, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "mossanorbitalthrusters",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [55, 55, 115, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "mossanrailsensor",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [0, 0, 50, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "mossanpenumbra_front",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [0, 0, 100, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "mossanpenumbra_back",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [255, 232, 128, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblesparker",
      "objectParameters" : {
        "unbreakable" : true
      }
    }
  ]
}
